.subAboutMe{
  position: relative;
  width:90%; 
  height: 1000px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom:200px;
  z-index: 1;
}
.subAboutMe>.flex{
  justify-content: space-between;
}

.subAboutMeTit{
  padding: 100px 0;
  font-size: 124px;
  font-weight: bold;
}
.profile{
  width: 400px;
  height: 700px;
  padding: 50px;
 
}
.profile p{
  font-size: 22px;
  padding-bottom: 10px;
}
.profile>p:first-of-type{
  padding: 50px 0;
  font-weight: 800;
  font-size: 32px;
}
.jin{
  width: 300px;
  height: auto;
}
.education>p{
  padding-bottom:50px;
  font-weight: 800;
  font-size: 32px;
}
.experiece>p{
  padding: 50px 0;
  font-weight: 800;
  font-size: 32px;
}

.skills>p{
  padding-bottom:50px;
  font-weight: 800;
  font-size: 32px;
}
.skill{
  width: 30px;
  height: 30px;
}
.skillP{
  padding:5px;
  font-size: 19px !important;
}