body{
  overflow-x: hidden;
  cursor: none;
}
.flex{
  display: flex;
  z-index: -1;
}


.click{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  mix-blend-mode:difference;
  pointer-events: none;
  z-index: 20;
}
.clickOn{ 
  transform: scale(4);
  background-color: white;
  pointer-events: none;
}
