body{
  background-color: white;
  overflow-x: hidden;
}
.flex{
  display: flex;
  
}


.click{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  mix-blend-mode:difference;
  z-index: 2 !important;
}
.clickOn{
  transform: scale(5);
}