#backsection{
    position: absolute;
    top:0;
    left:0;
    background: linear-gradient(180deg, #000000f1 25%,rgba(0, 0, 0, 0.315) 70%);
    width:1720px; 
    height: 100vh;
    z-index: -2;
}
.main{
    position: relative;
    width:90%; 
    height: auto;
    margin: 0 auto;
    margin-top: 40px;
    z-index: 1;
    background-color: white;
}
.intro{
    position: absolute;
    top:0;
    left: 0;
    width:100%; 
    z-index: -1;
}
.intro>img{
    width: 1720px;
    height:100%;
    z-index: -1;
}   
.flash{
    position: absolute;
    top:0;
    left: 0;
    width:100%; 
    height:100vh;
    animation:flash 5s linear infinite, flash2 0.08s linear infinite;
    z-index: -3;
}
@keyframes flash{
      0% {
        opacity: 1;
      }
      25% {
        opacity: 1;
      }
      25.1% {
        opacity: 0;	
      }
      100% {
        opacity: 0;
      }
}
@keyframes flash2{
    0% {
    background-color: rgba(255, 255, 255, 0.10);
    }
    100% {
    background-color: rgba(0, 0, 8, 0.3);
    }
}
.clockWrap{
    position: relative;
    z-index: 20;
}
.clock{
    position: relative;
    width: 10px;
    height: 45px;
    margin-top: 210px;
    margin-left: 265px;
    animation: rotate_image 30s linear infinite;
    transform-origin: 0% 0%;
    z-index: 999;
}
@keyframes rotate_image{
    100% {
        transform: rotate(360deg);
    }
}
.monitorWrap{
    position: relative;
    z-index: 20;
    height: 228px;
}
.monitor{
    width: 257px;
    height: 234px;
    margin-left: 1158px;
    opacity: 0;
    transform: translateY(-6px);
    transition: 1s ease-out;
}
.monitor.on{
    opacity: 1;
}
.btnWrap{
    position: relative;
    width: 50px;
    height: 30px;
    margin-left: 1363px;
    z-index: 20;
}
.btn{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.btnLight{
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top:-22px;
    animation:off 1s linear infinite;
    z-index: 990;
}
.btnLight.on{
    animation:on 1s linear infinite;
}
@keyframes off{
    0% {
    background-color: rgba(255, 0, 0, 0.1);
    }
    100% {
    background-color: rgba(255, 0, 0, 0.4);
    }
}
@keyframes on{
    0% {
    background-color: rgba(30, 255, 0, 0.1);
    }
    100% {
    background-color: rgba(30, 255, 0, 0.4);
    }
}

.mainBlock{
    width:100%;
    height: 460px;
}




@media screen and (max-width: 1280px) {
 
  }

@media screen and (max-width: 1024px) {
    
    #backsection{
        height: 50vh;
    }
    .flash{
        height: 50vh;
    }
}

@media screen and (min-width: 480px) and (max-width:768px){

}
  