.section1{
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    z-index: -1;
    
}

.aboutMe{
    padding-top: 100px;
    font-size: 124px;
    font-weight: bold;
    opacity: 0.2;
    transform: translateX(1700px);
}
.aboutMe2{
    padding-top: 180px;
    font-size: 36px;
    font-weight: bold;
    opacity: 0.2;
    transform:translateX(-1400px);
}
.aboutMe2 p{
    padding: 5px;
}
.aboutMeOn{
    opacity: 1;
    transition: 2s ease-in-out;
    transform: translateX(0px);
}
.aboutMe2On{
    opacity: 1;
    transition: 2s ease-in-out;
    transform: translateX(305px);
}
.aboutMeRp{
    position: relative;
    margin-top: 50px;
    margin-left: 820px;
    margin-bottom: 50px;
    padding: 10px;
    opacity: 0;
    transition: 1s ease-in;
    transform: translateY(400px);
}
.aboutMeRpOn{
    opacity: 1;
    transform: translateY(0px);
}
.aboutMeRp p{
    font-size: 24px;
    padding: 10px 0;
}
.aboutBtn{
    max-width:0px;
    padding-bottom:20px; 
    background:none;
    font-size: 36px;
    font-weight: bold;
    border: none;
    margin-left:830px;
    height: 100px;
    font-weight: bold;
    white-space: nowrap;
    border-bottom: 8px solid black;
    overflow: hidden;
    visibility: hidden;
    cursor: none;
}
.aboutBtnOn{
    animation:btnOn 1s linear forwards;
}
.arrow{
    margin-left: 100px;
    width: 30px;
    height: 30px;
}
.arrowOn{
    animation:arrowOn 0.7s linear infinite;
}

@keyframes arrowOn{
    0%{
       transform: translateX(-50px);     
    }
    100%{
        transform: translateX(0px);     
    }
}
@keyframes btnOn{
    0%{
        max-width: 0px;
    }
    100%{
        max-width:500px;
        visibility: visible;
    }
}
