.section1{
    position: relative;
    width: 100%;
    margin: 0 auto;
    z-index: -1;
    padding-bottom: 100px;
}

.aboutMe{
    padding-top: 100px;
    font-size: 6.45vw;
    font-weight: bold;
    white-space: nowrap;
    transition: 1.2s ease-in-out;
}
.aboutMe2{
    padding-top: 200px;
    margin-left: 15.885vw;
    font-size: 1.875vw;
    font-weight: bold;
}
.aboutMe2 p{
    padding: 5px;
}
.aboutMeRp{
    position: relative;
    margin-top: 50px;
    margin-left:42.6vw;
    margin-bottom: 50px;
    padding: 10px;
}
.aboutMeRp p{
    font-size: 1.25vw;
    padding: 10px 0;
}
.aboutBtn{
    width:250px;
    padding-bottom:20px; 
    background:none;
    font-size: 36px;
    font-weight: bold;
    border: none;
    margin-left:43.229vw;
    height: 100px;
    font-weight: bold;
    white-space: nowrap;
    border-bottom: 8px solid black;
    overflow: hidden;
    cursor: none;
}
.aboutBtnOn{
    animation:btnOn 0.7s linear forwards;
}
.arrow{
    margin-left: 100px;
    width: 30px;
    height: 30px;
}
.arrowOn{
    animation:arrowOn 0.7s linear infinite;
}

@keyframes arrowOn{
    0%{
       transform: translateX(-50px);     
    }
    100%{
        transform: translateX(0px);     
    }
}



@media screen and (max-width: 1024px) {
    .aboutMe2{
        font-size: 32px;
    }
    .aboutMeRp p{
        font-size: 24px;
        padding: 5px 0;
    }
    .aboutMeRp{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .aboutBtn{
        width:160px;
        padding-bottom:10px; 
        font-size:  38px;
        height: 60px;
        border-bottom: 4px solid black;
    }
    .arrow{
        margin-left:30px;
        width: 25px;
        height: 25px;
    }
}
