.section2{
    position: relative;
    width: 100%;
    margin: 0 auto;
}
.w1720{
    width: 1720px;
}
.port{
    font-size: 6.45vw;
    font-weight: bold;
    margin-bottom: 100px;
}
.projectArticle {
    width: 100%;
}
.projectItemContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.projectItemWrap{
    width: 100%;
}
.projectItem{
    width: 750px;
    height: 500px;
    margin-bottom: 30px;
    background-size: cover;
    z-index: 20;
}
.projectImg{
    width: 100%;
    height: 100%;
    transition: 0.7s;
}
.projecTit{
    font-size: 1.875vw;
    font-weight: bold;
    margin-bottom: 30px;
}
.projecTxt{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 100px;   
}

.projectHover{
    transform: scale(1.1);
}


@media screen and (max-width: 1280px) {
    .projecTit{
        font-size: 24px;
        margin-bottom: 30px;
    }
    .projecTxt{
        font-size: 16px;
        margin-bottom: 30px;   
    }
}

@media screen and (max-width: 1024px) {
    .projecTit{
        font-size: 36px;
        margin-bottom: 30px;
    }
    .projecTxt{
        margin-bottom: 30px;   
        font-size: 24px;
    }
    .projectItem{
        width: 900px;
        height: 600px;
        margin-bottom: 30px;
    }
    
}
@media screen and (max-width: 479px) {
    .port{
        margin-bottom: 50px;
    }
    .projecTit{
        font-size: 19px;
        margin-bottom: 15px;
    }
    .projecTxt{
        font-size: 14px;
    }

    .projectItem{
        width: 360px;
        height: 280px;
        margin-bottom: 15px;
    }
}
